
.icon-search:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '\e805'; } /* '' */
.icon-thumbs-down:before { content: '\e806'; } /* '' */
.icon-comment:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-login:before { content: '\e809'; } /* '' */
.icon-logout:before { content: '\e80a'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
