#lastUploaded{

    >h2{
        color: var(--titulos);
        font-family: "Cal sans";
        font-weight: bold;
        text-align: center;
        font-size: 35px;
        margin: 20px 0;
    }

    >ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;

        >li{
            >article{
                background-color: white;
                padding: 10px;

                border-radius: 10px;
                border-color: var(--titulos);
                border-style: solid;

                >figure{
                    >a>img{

                    }
                }
                >a{
                    
                    color: black;
                    text-decoration: none;
                    >h2{
                        font-family: "Poiret one";
                    }
                }
                >hr{
                    margin: 10px 0;
                }
                >p{
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }

}