#lastUploaded, #userAnuncios{

    >h2{
        color: var(--titulos);
        font-family: "Cal sans";
        font-weight: bold;
        text-align: center;
        font-size: 3.5rem;
        margin: 20px 0;
    }

    >ul{
        padding: 20px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;

        >li{
            width: 100%;
            >article{
                background-color: white;
                padding: 10px;

                border-radius: 2rem;
                border-color: var(--titulos);
                border-style: solid;

                transition: transform 0.3s ease;
                transition: background-color 0.2s ease;


                >figure{
                    >a{
                        >img{
                            width: 100%;
                            border-radius: 8%;
                            border-color: black; 
                            border-style: solid;
                            border-width: .3rem;
                        }
                    }
                }
                >a{
                    
                    color: black;
                    text-decoration: none;
                    >h2{
                        font-family: "Poiret one";
                        font-size: 2.5rem;
                    }
                }
                >hr{
                    margin: 10px 0;
                }
                >p{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.5rem;
                }

                &:hover{

                    transform: scale(1.02);
                    background-color: var(--titulos);
                    border-color: var(--titulos);

                    >a{
                    
                        color: white;
                    }
                    >hr{
                        color: white;
                    }
                    >p{
                        color: white;
                    }
                }
            }


        }
    }

}